---
import ManPage from "@layouts/ManPage.astro";
import ManItem from "@components/ManItem.astro";
import Uptime from "../components/server/Uptime.astro";
import UptimeFallback from "../components/server/UptimeFallback.astro";

const projectsWidth = 13;
---

<ManPage title="Anshul Gupta">
  <section>
    <h2 class="font-extrabold text-xl">NAME</h2>
    <ManItem key="Anshul Gupta"> A programmer</ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">SYNOPSIS</h2>
    <ManItem key="Email" keylen={6} valueLink="mailto:ansg191@anshulg.com">
      ansg191@anshulg.com
    </ManItem>
    <ManItem key="GitHub" keylen={6} valueLink="https://github.com/ansg191">
      ansg191
    </ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">DESCRIPTION</h2>
    <p class="m-4">Description goes here...</p>
    <p class="m-4">Some projects I've worked on:</p>
    <ManItem
      indent={8}
      key="HomeLab"
      keyLink="https://github.com/ansg191-lab/anshulg-cluster"
      keylen={projectsWidth}
    >
      A GKE and bare-metal cluster managed by <i>ArgoCD</i> and <i>Terraform</i>
    </ManItem>
    <ManItem
      indent={8}
      key="packed_ptr"
      keyLink="https://github.com/ansg191/packed_ptr"
      keylen={projectsWidth}
    >
      A configurable & generic tagged pointer implementation in <i>Rust</i>
    </ManItem>
    <ManItem
      indent={8}
      key="github-mirror"
      keyLink="https://github.com/ansg191/github-mirror"
      keylen={projectsWidth}
    >
      A <i>UNIX</i> utility written in pure <i>C</i> to automatically mirror all
      GitHub repos to a private Git server
    </ManItem>
    <ManItem
      indent={8}
      key="rtic-fridge"
      keyLink="https://github.com/ansg191/rtic-fridge"
      keylen={projectsWidth}
    >
      A refrigeration unit using RTIC on a STM32F042K6 written in <i>Rust</i>
    </ManItem>
    <ManItem
      indent={8}
      key="traefik-dns"
      keyLink="https://github.com/ansg191/traefik-dns-rs"
      keylen={projectsWidth}
    >
      Updates A DNS nameserver provider using routes defined in a <i>Traefik</i>
      router originally written in <i>Go</i>, now rewritten in <i>Rust</i>
    </ManItem>
    <ManItem
      indent={8}
      key="remote-worker"
      keyLink="https://github.com/ansg191/remote-worker"
      keylen={projectsWidth}
    >
      A project to encode videos stored in S3 buckets by launching
      GPU-accelerated EC2 instances on-the-fly written in <i>Go</i>
    </ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">FILES</h2>
    <ManItem key="GPG Key" keyLink="/ansg191.asc" keylen={7}>
      Personal GPG key for signing commits and emails
    </ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">SEE ALSO</h2>
    <ManItem key="Git Server" keyLink="https://git.anshulg.com" keylen={10}>
      <span slot="key-extra">
        <Uptime name="CGit Server" server:defer>
          <UptimeFallback slot="fallback" />
        </Uptime>
      </span>
      <span>
        Personal backup <i>git</i> server for GitHub projects
      </span>
    </ManItem>
    <ManItem
      key="GitHub Org"
      keyLink="https://github.com/ansg191-lab"
      keylen={10}
    >
      Personal GitHub organization for projects
    </ManItem>
    <ManItem key="Apt Repo" keyLink="https://apt.anshulg.com" keylen={10}>
      <span slot="key-extra">
        <Uptime name="Debian Apt Server" server:defer>
          <UptimeFallback slot="fallback" />
        </Uptime>
      </span>
      <span>
        Personal <i>apt</i> repository for Debian-based systems
      </span>
    </ManItem>
  </section>
</ManPage>
