---
import ManPage from "@layouts/ManPage.astro";
import ManItem from "@components/ManItem.astro";
import Uptime from "../components/server/Uptime.astro";
import UptimeFallback from "../components/server/UptimeFallback.astro";

const projectsWidth = 13;
---

<ManPage title="Anshul Gupta">
  <section>
    <h2 class="font-extrabold text-xl">NAME</h2>
    <ManItem key="Anshul Gupta"
      >An infrastructure and operating systems tinkerer
    </ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">SYNOPSIS</h2>
    <ManItem key="Email" keylen={9} valueLink="mailto:ansg191@anshulg.com">
      ansg191@anshulg.com
    </ManItem>
    <ManItem key="GitHub" keylen={9} valueLink="https://github.com/ansg191">
      ansg191
    </ManItem>
    <ManItem key="Sourcehut" keylen={9} valueLink="https://sr.ht/~ansg191/">
      ~ansg191
    </ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">DESCRIPTION</h2>
    <p class="m-4">
      I'm a programmer who enjoys messing with cloud &amp; bare-metal
      infrastructure and operating systems, embedded systems, &amp; other
      low-level programming. I usually write code in <i>Rust</i>, <i>Go</i>, and <i
        >C</i
      >.
    </p>
    <p class="m-4">
      I enjoy watching <a
        href="https://trakt.tv/users/ansg191"
        target="_blank"
        rel="noopener noreferrer">movies &amp; shows</a
      >, listening to music, and catching the occasional F1 race. I also play
      League of Legends and sometimes stay up at night to watch the LCK.
    </p>

    <p class="m-4">Some projects I've worked on:</p>
    <ManItem
      level={2}
      key="HomeLab"
      keyLink="https://github.com/ansg191-lab/anshulg-cluster"
      keylen={projectsWidth}
    >
      GKE and bare-metal <i>Kubernetes</i> clusters managed using <i>ArgoCD</i> and
      <i>Terraform</i>
    </ManItem>
    <ManItem
      level={2}
      key="packed_ptr"
      keyLink="https://github.com/ansg191/packed_ptr"
      keylen={projectsWidth}
    >
      A configurable & generic tagged pointer implementation in <i>Rust</i>
    </ManItem>
    <ManItem
      level={2}
      key="github-mirror"
      keyLink="https://github.com/ansg191/github-mirror"
      keylen={projectsWidth}
    >
      A <i>UNIX</i> utility written in <i>C</i> to automatically mirror all GitHub
      repos to a private Git server
    </ManItem>
    <ManItem
      level={2}
      key="rtic-fridge"
      keyLink="https://github.com/ansg191/rtic-fridge"
      keylen={projectsWidth}
    >
      A refrigeration unit using RTIC on a STM32F042K6 written in <i>Rust</i>
    </ManItem>
    <ManItem
      level={2}
      key="rustyos-riscv"
      keyLink="https://sr.ht/~ansg191/rustyos-riscv/"
      keylen={projectsWidth}
    >
      A simple <i>RISC-V</i> operating system written in <i>Rust</i>
    </ManItem>
    <ManItem
      level={2}
      key="traefik-dns"
      keyLink="https://github.com/ansg191/traefik-dns-rs"
      keylen={projectsWidth}
    >
      Updates a DNS nameserver provider using routes defined in a <i>Traefik</i>
      router originally written in <i>Go</i>, now rewritten in <i>Rust</i>
    </ManItem>
    <ManItem
      level={2}
      key="remote-worker"
      keyLink="https://github.com/ansg191/remote-worker"
      keylen={projectsWidth}
    >
      A project written in <i>Go</i> to encode videos stored in S3 buckets by launching
      GPU-accelerated EC2 instances on-the-fly
    </ManItem>
    <ManItem
      level={2}
      key="anshulg.com"
      keyLink="https://github.com/ansg191/anshulg-com"
      keylen={projectsWidth}
    >
      This over-engineered website, built using <i>Astro</i> and <i
        >TailwindCSS</i
      >, deployed on a <i>GKE Kubernetes Cluster</i> and <i>Google Cloud CDN</i
      >.
    </ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">FILES</h2>
    <ManItem key="GPG Key" keyLink="/ansg191.asc" keylen={7}>
      Personal GPG key for signing commits, emails, and software
    </ManItem>
  </section>

  <section>
    <h2 class="font-extrabold text-xl">SEE ALSO</h2>
    <ManItem key="Git Server" keyLink="https://git.anshulg.com" keylen={10}>
      <span slot="key-extra">
        <Uptime name="Git" src="upptime" server:defer>
          <UptimeFallback slot="fallback" />
        </Uptime>
      </span>
      <span>
        Personal backup <i>git</i> server for GitHub projects
      </span>
    </ManItem>
    <ManItem
      key="GitHub Org"
      keyLink="https://github.com/ansg191-lab"
      keylen={10}
    >
      Personal GitHub organization for projects
    </ManItem>
    <ManItem key="Apt Repo" keyLink="https://apt.anshulg.com" keylen={10}>
      <span slot="key-extra">
        <Uptime name="Debian Repo" src="upptime" server:defer>
          <UptimeFallback slot="fallback" />
        </Uptime>
      </span>
      <span>
        Personal <i>apt</i> repository for Debian-based systems
      </span>
    </ManItem>
  </section>
</ManPage>
