---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import dayjs from "dayjs";

interface Props {
  title: string;
  section?: number;
}

const { title, section = 7 } = Astro.props;

const date = dayjs().format("ddd, MMMM D, YYYY");
const manTitle = title.toUpperCase();

const sectionMap = {
  1: "General Commands Manual",
  2: "System Calls Manual",
  3: "Library Functions Manual",
  4: "Kernel Interfaces Manual",
  5: "File Formats Manual",
  6: "Games Manual",
  7: "Miscellaneous Information Manual",
  8: "System Manager's Manual",
  9: "Kernel Developer's Manual",
} as Record<number, string>;
if (!Object.prototype.hasOwnProperty.call(sectionMap, section)) {
  throw new Error(`Invalid section number: ${section}`);
}
const manual = sectionMap[section];
---

<Layout title={title}>
  <header
    class="flex justify-between font-mono text-sm text-gray-500 dark:text-gray-400"
  >
    <div>{manTitle} ({section})</div>
    <h1>{manual}</h1>
    <div>{manTitle} ({section})</div>
  </header>
  <main class="font-mono pt-4">
    <slot />
  </main>
  <footer
    class="flex justify-between font-mono text-sm text-gray-500 dark:text-gray-400"
  >
    <div>{date}</div>
    <div>{manTitle} ({section})</div>
  </footer>
</Layout>

<style>
  body {
    max-width: 80ch;
    margin: 1em auto;
    padding: 0 1ch;
  }
</style>
